/* ------------------ Hero & Banner ---------------- */

.hero {
  position: relative;
  height: 770px;
  overflow: hidden;
  background-color: black;
  padding: 20px;
  padding-top: calc(20px + 70px);

  .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    text-align: start;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
    animation: shrink 20s alternate ease-in-out infinite, fadeIn 1s forwards;
    z-index: 0;
    opacity: 0;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 470px;
  padding: 20px;
  background-color: black;
  padding-top: 40px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  h1 {
    color: white;
    font-size: 60px;
    position: relative;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------ Section ---------------- */

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;

  &.full-w {
    max-width: 100%;
    padding: 60px 0;
  }
}

.dark-bg {
  background-color: #000000;
  color: white;

  h2 {
    color: #cb0000;
  }

  hr {
    background-color: #cb0000;
    height: 2px;
    border: none;
    width: 100%;
  }
}

.grey-bg {
  background-color: #e5e5e5;
  color: black;

  h2 {
    color: black;
  }

  hr {
    background-color: black;
    height: 2px;
    border: none;
    width: 100%;
  }
}

hr {
  margin-bottom: 40px;
  height: 2px;
  border: none;
  width: 100%;
  background-color: black;
}

.centered-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* -------------------------------------------------- Home Page ------------------------------------------------ */

/* ------------------ Why Choose Us ---------------- */

.why-choose-us {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .why-choose-us-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 20px;
    background: #121212;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;

    i {
      text-align: center;
      font-size: 36px;
      width: 50px;
      color: #cb0000;
    }
  }
}

/* ------------------ Our Values ---------------- */

.our-values {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;

  .our-values-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #121212;
    color: white;
    padding: 40px;
    border-radius: 10px;

    i {
      font-size: 42px;
      color: #cb0000;
    }
  }
}

/* ------------------ Testimonials ---------------- */

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  .testimonials-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    i {
      font-size: 24px;
      color: #cb0000;
    }

    p {
      font-size: 16px;
    }
  }
}

/* ------------------ Carousel ---------------- */

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 60px;
  .carousel-group {
    display: flex;
    flex-direction: row;
    will-change: transform;
    animation: scrolling 20s linear infinite;
    gap: 80px;
    padding-right: 80px;

    img {
      object-fit: contain;
      width: 150px;
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ------------------ Feedback ---------------- */

.servicem8-feedback {
  max-width: 100% !important;
  margin: 20px auto !important;

  a {
    color: #cb0000 !important;
  }
}

/* -------------------------------------------------- Services Page ------------------------------------------------ */

/* ------------------ Services ---------------- */

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #121212;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;

    h3 {
      font-size: 20px;
      color: #cb0000;
    }

    p {
      font-size: 16px;
    }
  }
}

/* ------------------ Gallery ---------------- */

.pswp-gallery {
  columns: 3;
  column-gap: 20px;

  a {
    font-size: 0;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

.pswp__scroll-wrap {
  max-width: 100%;
}

/* ------------------ KEE Safety ---------------- */

#kee-safety {
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 40px;

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* -------------------------------------------------- About Us Page ------------------------------------------------ */

/* ------------------ Our story ---------------- */

.story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}

/* ------------------ Dark Separate ---------------- */

.dark-separate {
  background: linear-gradient(to bottom, black 50%, white 50%);
  padding: 0 20px;

  img {
    display: block;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}

/* -------------------------------------------------- Contact Page ------------------------------------------------ */

/* ------------------ Contact ---------------- */

.contact {
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin: 40px auto;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  .contact-info {
    padding: 20px;
    justify-content: center;

    h3 {
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      a {
        font-size: inherit;
        color: #cb0000;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #272727;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  input,
  textarea {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid white;
    font-size: 20px;
    color: white;
    outline: none;
    font-family: inherit;
    background-color: transparent;

    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }

  button {
    background-color: #cb0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: inherit;
    transition: 0.3s;

    &:hover {
      background-color: #970707;
      transform: scale(0.998);
    }
  }

  .checkbox-label {
    display: block;

    input {
      width: auto;
    }

    a {
      text-decoration: none;
      color: #cb0000;
    }
  }
}

.linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 10px;
  margin-top: 20px;
}

.linkedin svg {
  width: 30px;
  height: 30px;
}

/* -------------------------------------------------- Articles ------------------------------------------------ */

#articles {
  max-width: 1480px;
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 9.5fr;
  gap: 35px;
  align-items: start;
  margin-top: 40px;

  .tags {
    align-items: start;
    justify-content: start;
    gap: 5px;

    .tag {
      font-size: 11px;
      padding: 5px;
    }
  }

  hr {
    margin: 20px 0;
  }
}

.article-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 25px;
}

.article-box {
  display: flex;
  flex-direction: column;
  color: #5d5d5d;
  background-color: #e5e5e5;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  height: 100%;
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out forwards;

  .article-cover {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .article-box-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    flex: 1;
  }

  h3 {
    font-size: 17px;
    color: #3d3d3d;
  }

  p {
    font-size: 15px;
  }

  small {
    margin-top: auto;
  }

  &:hover {
    .article-cover img {
      transform: scale(1.2);
    }

    h3 {
      text-decoration: underline;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tags-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tags-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 100px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 10px;

  .tag {
    padding: 5px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    &.active {
      background-color: #cb0000;
      color: white;
    }
  }
}

#show-more {
  display: none;
  font-size: 16px;
  border-radius: 10px;
  background-color: #e5e5e5;
  border: 2px solid #e7e7e7;
  padding: 10px;
  cursor: pointer;
  color: black;
  margin: 0 auto;
  font-family: inherit;
  margin-top: 25px;
}

#reset-search,
#reset-tags {
  display: none;
  cursor: pointer;
  &.show {
    display: block;
  }
}

/* -------------------------------------------------- Article Page ------------------------------------------------ */

.article-page {
  display: grid;
  grid-template-columns: 9.5fr 2.5fr;
  align-items: start;
  max-width: 1480px;
  margin: 0 auto;
  padding: 60px 20px;
  gap: 45px;

  .article-boxes {
    display: flex;
    flex-direction: column;

    .article-box .article-box-content {
      gap: 10px;
    }
  }
}

.article-side {
  position: sticky;
  top: 100px;
  width: 100%;

  h3 {
    margin-bottom: 20px;
  }

  hr {
    margin-bottom: 25px;
  }

  .article-box {
    width: 100%;
  }

  /*   .related-articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  } */
}

article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 00px;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-size: 40px;
    width: 80%;
    margin: 0 auto;
  }

  .article-date {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  h2 {
    text-align: start;
  }

  ul {
    margin-left: 25px;
  }

  .article-cover {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 10;
    object-fit: cover;
    object-position: center;
    height: auto;
  }
}

.article-chapter {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    margin-bottom: 0;
  }

  p,
  li {
    color: #5d5d5d;
  }
}

.table-of-content {
  background-color: #e5e5e5;
  color: black;
  padding: 35px;
  border-radius: 20px;

  h3 {
    margin-bottom: 15px;
  }

  a {
    color: inherit;
  }

  ul {
    margin-left: 30px;
  }

  li {
    font-size: 18px;
    margin-bottom: 2px;
    transition: 0.2s;

    &:hover {
      color: #cb0000;
    }
  }
}

.author {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 35px;
  /*   background-color: #e5e5e5; */
  color: black;
  /*  padding: 35px; */
  /*   border-radius: 20px; */

  h3 {
    color: #cb0000;
  }

  hr {
    margin: 15px 0;
    background-color: black;
  }

  img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }

  p {
    font-size: 16px;
  }
}

.contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
  }
}

.btn {
  background-color: black;
  padding: 15px 35px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
}

.share-buttons {
  display: inline-flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
  color: black;
  border-radius: 20px;
  width: auto;

  a {
    aspect-ratio: 1 / 1;
    width: 45px;
    height: 45px;
    color: white;
    font-size: 25px;
    line-height: 0;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s transform;
    margin: 0;

    &.facebook {
      background-color: #3b5998;
    }

    &.linkedin {
      background-color: #0077b5;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.grey-bg {
  .article-box {
    background-color: white !important;
    color: black !important;
  }
}

/* ------------------ Search-Row ----------------- */

.search-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* ------------------ Search ----------------- */

.search {
  display: flex;
  border: 2px solid #e7e7e7;
  padding: 7px;
  gap: 10px;
  border-radius: 10px;
  background-color: #e5e5e5;
  color: black;
  flex: 1;
}

#search-input {
  font-family: inherit;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background: transparent;
  color: black;
}

/* ------------------ Sort ----------------- */

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

#sort-select {
  font-family: inherit;
  font-size: 16px;
  border-radius: 10px;
  background-color: #e5e5e5;
  border: 2px solid #e7e7e7;
  padding: 7px;
  cursor: pointer;
}

/* ------------------ Media Queries ---------------- */

@media only screen and (max-width: 1400px) {
  .article-page {
    gap: 25px;
  }
}

@media only screen and (max-width: 1200px) {
  .article-page {
    display: flex;
    flex-direction: column;

    padding: 40px 20px;
    padding-bottom: 10px;
  }

  .article-side {
    margin-top: 20px;
    padding-bottom: 10px;

    h3 {
      text-align: center;
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 992px) {
  main {
    min-height: auto !important;
  }

  .hero {
    height: 472px;
    padding-top: 72px;
  }

  .article-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section {
    padding: 30px 20px;

    &.full-w {
      padding: 30px 0;
    }
  }

  .banner {
    min-height: 270px;
    height: auto;
  }

  .testimonials,
  .services {
    grid-template-columns: 1fr 1fr;
  }

  .pswp-gallery {
    columns: 2;
  }

  .story {
    grid-template-columns: 1fr;

    img {
      height: auto;
    }
  }

  #kee-safety {
    grid-template-columns: 1fr;
    text-align: center;

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  .contact {
    margin-top: 20px;
    margin-bottom: 0;
    grid-template-columns: 1fr;

    .contact-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      padding-top: 0;
      text-align: center;

      h3 {
        margin-bottom: 10px;
      }
    }
  }

  hr {
    margin-bottom: 20px;
  }

  form {
    padding: 20px;

    h3 {
      text-align: center;
    }
  }

  .carousel {
    margin-top: 20px;

    .carousel-group {
      gap: 40px;
      padding-right: 40px;

      img {
        width: 100px;
      }
    }
  }

  #articles {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .author {
    gap: 25px;
    img {
      width: 100px;
      height: 100px;
    }
  }

  .article-page {
    padding: 40px 20px;
    padding-bottom: 10px;
    .article-side {
      h3 {
        font-size: 26px;
      }
    }
  }

  article {
    gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .article-boxes {
    grid-template-columns: 1fr;
  }

  #articles {
    .article-boxes {
      grid-template-columns: 1fr 1fr;
    }
  }

  .search-row {
    flex-direction: column;
  }

  .search {
    width: 100%;
  }

  .author {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #contact-section {
    padding-top: 0;
  }

  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;

    p {
      margin-top: 10px;
    }
  }

  .article-side {
    margin-top: 20px;

    h3 {
    }

    .article-boxes {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  .share-buttons {
  }
}

@media only screen and (max-width: 600px) {
  .testimonials,
  .our-values,
  .services {
    grid-template-columns: 1fr;
  }

  #articles {
    .article-boxes {
      grid-template-columns: 1fr;
    }
  }

  .article-page {
    .article-side {
      h3 {
        font-size: 22px;
      }
    }
  }

  article {
    gap: 25px;

    h1 {
      font-size: 24px !important;
      width: 100%;
      margin-bottom: 10px !important;
      line-height: 1.3 !important;
    }
  }

  .table-of-content {
    padding: 25px;

    a {
      font-size: 16px;
    }
  }

  .author {
    padding: 25px;
    gap: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .why-choose-us {
    .why-choose-us-item i {
      display: none;
    }
  }

  .carousel {
    .carousel-group {
      gap: 30px;
      padding-right: 30px;

      img {
        width: 70px;
      }
    }
  }
}
